body {
	/*font-family: courier new;*/
	width:75%;
	margin:1em auto 0 auto;
	padding:0px 20px 20px 20px;
	border:solid 2px grey;
}
#enregistrements, #listes {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 2em;
}
#ajoutAdherent {
	width:50%;
}
#ajoutLivre {
	width:50%;
}
#adh {
	width:20%;
}
#dispos, #empr {
	width:40%;
}

#adh fieldset, #dispos fieldset, #empr fieldset {
	min-height:35em;
}

legend {
	font-size: 1.5em;
}
h2 {
	font-size: 2em;
	color:white;
	background-color: grey;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 4px 4px 4px black;
    text-align: center;
}
ul {
	padding-left: 20px;
}
li {
	cursor:pointer;
	background-color: white;
	line-height: 1.5em;
}
li:hover {
	background-color: lightgrey;
}
input {
	padding:5px;
	font-size: 1.2em;
}

input[type="button"] {
	width:25%;
}
input[type="text"] {
	width:70%;
}

input {
	min-height:1.2em;
}
